body{
  font-family: 'Arimo', sans-serif;
  background-color: #403F4C;
}
.Trollface{
  margin-left: 50px;
  width: 700px;
  height: auto;
}
.text{
  float: right;
  text-align: left;
  font-size: 40px;
  margin-right: 50px;
}
.get{
  background-color: white;
}
